.page-header {
    height: 60px !important;
    line-height: 60px !important;
}
.header-nav {
    font-size:0;
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 10px;
    
    & > div {
        align-items: center;
    }
    .nav-left {
        display: flex;
        flex: 1;
        min-width: 682px;
        .logo {
            display: flex;
            overflow: hidden;
            flex-direction: row;
            align-items: center;
            .icon {
                float: left;
                width: 142px;
                height: 60px;
            }
            .logo-right-text {
                display: inline-block;
                float: left;
                position: relative;
                width: 115px;
                height: 24px;
                line-height: 24px;
                margin: 0 0 0 20px;
                font-size: 18px;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: rgba(51,51,51,1);
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 5px;
                    left: -10px;
                    width: 1px;
                    height: 16px;
                    background-color: #cfcfcf;
                }
            }
            .oem-logo {
                width: 157px;
                min-width: 157px;
                height: 51px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img, svg {
                    max-width: 157px;
                    max-height: 38px;
                }
            }
        }
        .undo-redo {
            //margin-left: 10px;
            color: #888;
            svg {
                fill: #888;
            }
            button:hover {
                svg {
                    fill: $theme-color;
                }
            }
            .disabled,.disabled:hover {
                svg {
                    fill: #c5c8ce;
                }
            }
        }
        button {
            font-size:14px;
            transition: none;
            border: none;
            padding:5px 15px 6px;
            i {
                width: 26px;
                height: 26px;
            }
            span {
            }
        }
        .cut-type {
            margin-left: 16px;
            font-size:14px;
        }

        .size-form {
            margin-left: 22px;
            font-size:12px;
            color:rgba(51,51,51,1);
            span {
                padding: 0 20px;
                position: relative;
                color:rgba(102,102,102,1)
            }
            input {
                width: 36px;
                height: 24px;
                border: none;
                text-align: center;
                border-bottom: 1px solid rgba(221,222,225,1);

                &:focus {
                    border-color: $theme-color;
                }
            }
        }
    }
    .zoom{
        position: absolute;
        left: calc(50% + 160px);
        height: 100%;
        transform: translateX(-50%);
        z-index: 2;
        transition: all 0.3s;
    }
    .split {
        position: relative;
        top: 1px;
        width:1px;
        height:12px;
        background:rgba(217,217,217,1);
    }
    .nav-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        .page-length {
            font-size:14px;
            font-family:Microsoft YaHei;
            font-weight:400;
            line-height:19px;
            color:rgba(153,153,153,1);
        }
        .download,.upload,.save-element,.more-btn{
            transition:none;
            text-align:left;
            text-indent: 0;
            padding: 0;
            i{
                float: none;
                margin-left:19.5px;
            }  
            span{
                margin-left:2px;
            }
        }
        .more-btn {
            &:hover {
                border-left: 1px solid #eee;
            }
        }
        .download{
            border: none;
            border-radius: 0;
            width: 140px;
            height: 60px;
            padding: 0;
            color:#fff;
            background: linear-gradient(133deg, #ff8b26 0%, $theme-color 100%);
            &:hover{
                background: linear-gradient(133deg, #ff9233 0%, #ff9059 100%);
            }
            svg{
                fill:#fff;
            }
            i{
                margin-left:40px;
            }
            &.disabled,&.disabled:hover{
                box-sizing: content-box;
                border-left: 1px solid #eee;
                background: #fff;
                color:#BEC1C7;
                cursor: not-allowed;
                svg{
                    fill:#BEC1C7;
                }
            }
        }
        .upload,.save-element{
            display: block;
            height: 60px;
            width:100px;
            border-radius: 0;
            box-sizing: content-box;
            border:none;
            border-left: 1px solid #eee;
            background: #fff;
            color:#333;
            svg{
                fill:#999;
            }
            &:hover{
                background: #FEEFE4;
                color:#f73;
                svg{
                    fill: #f73;
                }
            }
        }
        .save-element{
            width:126px;
            i{
                margin-left:11px;
            }
            &.disabled,&.disabled:hover{
                box-sizing: content-box;
                border-left: 1px solid #eee;
                background: #fff;
                color:#BEC1C7;
                cursor: not-allowed;
                svg{
                    fill:#BEC1C7;
                }
            }
        }
        .btn:last-child {
            margin-right: 0;
        }
    }
    .zoom {
        .tooltip{
            .icon{
                width: 16px;
                height: 16px;
                margin-right: 6px;
            }
            .btn:not(:disabled){
                .icon{
                    .svg-icon{
                        fill: #999;
                    }
                }
            }
            .disabled{
                .icon{
                    .svg-icon{
                        fill: #c5c8ce !important;
                    }
                }
            }
            &:hover{
                .btn:not(:disabled){
                    .icon{
                        .svg-icon{
                            fill: #f73;
                        }
                    }
                }
                .disabled{
                    .icon{
                        .svg-icon{
                            fill: #c5c8ce !important;
                        }
                    }
                }
            }
        }
    }
}

.fixed-tips{
    position: fixed;
    width:246px;
    background:linear-gradient(133deg,rgba(245,169,17,1) 0%,rgba(255,119,51,1) 100%);
    opacity:1;
    height: 56px;
    line-height: 56px;
    border-radius: 4px;
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: center;
    z-index: 1200;
    &::after{
        content: '';
        display: block;
        position: absolute;
        bottom: -12px;
        left: 32px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 12px solid #f8991c;
    }
}

@keyframes updownAnimation
{
    0% {
        bottom: 40px;
    }
    16.7% {
        bottom: 20px;
    }
    33.4% {
        bottom: 40px;
    }
    50.1% {
        bottom: 20px;
    }
    66.8% {
        bottom: 40px;
    }
    83.5% {
        bottom: 20px;
        opacity: 1;
    }
    100% {
        bottom: 40px;
        opacity: 0;
    }
}

@keyframes downupAnimation
{
    0% {
        top: 60px;
    }
    16.7% {
        top: 40px;
    }
    33.4% {
        top: 60px;
    }
    50.1% {
        top: 40px;
    }
    66.8% {
        top: 60px;
    }
    83.5% {
        top: 40px;
         opacity: 1;
    }
    100% {
        top: 60px;
        opacity: 0;
    }
}